.container{
    border: 1px solid black;
    height:400px;
}
.box{
    width:500px;
    height: 100px;
    border: 1px solid black;
    position: absolute;
    left: 50px;
    top: 50px;

}
.sticky-container{
    height: 200px;
    overflow: scroll;
}
.sticky{
   position: sticky;
   top: 0; 
}
.fixed{
    position: fixed;
    bottom: 10px;
    right: 10px;
}
.image-container{
    position: relative;
}
.image-container img{
position: absolute;
left:0;
top:0;
}
.image-container p{
 position: absolute;
left:0;
top:0;
   
}